// Colors
$darkBlue:#0B0D17;
$blue:#D0D6F9;
// Typography
$bigHeading:8.34rem;
$bigHeadingSm:6rem;
$mainHeading:5.56rem;
$mainHeadingSm:5.56rem;
$heading:3.11rem;
$headingSm:3.11rem;
$subHeading:1.78rem;
$subHeadingSm:1.78rem;
$blueHeading:1.56rem;
$blueHeadingSm:1.56rem;
$subPageHeading:1.8rem;
$subPageHeadingSm:1.3rem;
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');